<div class="toolbar">
  <div class="container">
    <mat-toolbar>
      <button class="example-icon" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Angular CRUD with Material UI</span>
      <span class="example-spacer"></span>
      <button (click)="createProduct()" color="accent" mat-button>Добавить товар</button>
    </mat-toolbar>
  </div>
</div>

<div class="container">

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Название</th>
        <td *matCellDef="let row" mat-cell>{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Категория</th>
        <td *matCellDef="let row" mat-cell>{{row.category | uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Дата</th>
        <td *matCellDef="let row" mat-cell>{{row.date | date: "yyyy.MM.dd"}}</td>
      </ng-container>

      <ng-container matColumnDef="productCondition">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Состояние</th>
        <td *matCellDef="let row" mat-cell>{{row.productCondition}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Цена</th>
        <td *matCellDef="let row" mat-cell>{{row.price | currency}}</td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th *matHeaderCellDef class="comment" mat-header-cell mat-sort-header> Информация</th>
        <td *matCellDef="let row" class="comment" mat-cell>{{row.comment | length: 60}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef class="actions" mat-header-cell> Действия</th>
        <td *matCellDef="let row" class="actions" mat-cell>
          <button (click)="updateProduct(row)" color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteProduct(row.id)" color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"
                   aria-label="Select page of users"></mat-paginator>
  </div>

</div>
